body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(34, 34, 88);
  color: rgb(209, 202, 202)
}
input{
  background-color: lightgray;
  color: black;
}
iframe{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.titleName{
  padding: 5px;
}
#searchInput{
  width: 75%;
  height: 35px;
  border: none;
}
#title{
  height: 50px;
  padding: 7px 0px;
}
#playerDiv{
  
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
#searchIcon{
  height: 25px;
}
#searchButton{
  margin: 0px;
  height: 35px;
  background-color: rgb(255,255,255);
  border: none;
}
#commentsReplies{
  padding: 5px 10px;
  background-color: lightgray;
  color: black;
  height: 300px;
  width: 100%;
  margin-top: 10px;
}
#title-bar{
  align-items: center;
}
