body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(14, 12, 36);
  color: rgb(209, 202, 202)
}
input{
  background-color: lightgray;
  color: black;
}
iframe{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
button {
  display: contents;
  background-color: rgb(14, 12, 36);
  color: rgb(209, 202, 202)
}

.related-video {
  width: 90%;
}
.related-video p {
  text-align: left;
  padding: 5px 5px 0px;
  margin-bottom: 12px;
}

#loading{
  margin: 2rem 0rem 0rem 5rem;
}
#title{
  display: flex;
  flex-flow: row nowrap;
  padding: 5px;
  align-items: center;
  justify-content: left;
  font-size: 2.2rem;
}
#searchInput{
  width: 75%;
  height: 35px;
  border: none;
}
#search{
  height: 50px;
  padding: 7px 0px;
}

#playerDiv{
  
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
#searchIcon{
  margin: 0px;
  height: 35px;
  background-color: rgb(255,255,255);
  border: none;
}
#commentsReplies{
  padding: 5px 10px;
  background-color: lightgray;
  color: black;
  height: 300px;
  width: 100%;
  margin-top: 10px;
}
#title-bar{
  align-items: center;
}
#related-videos{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 1.5rem;
}
.thumb{
  position: relative;
  width: 25px;
  height: 25px;
  margin-top: 10px;
}
#thumb-down{
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#commentInput{
  background-color: lightgray;
  color: black;
  width: 75%;
  height: 35px;
  border: none;
}
.likes-dislikes{
  position: relative;
  display: inline;
  margin-top: 10px;
  font-size: larger;
}
.commentButton{
  border: none;
  color: lightgray;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
#comment{
  background-color: lightgray;
  color: rgb(14, 12, 36);
}