body{
  background-color: darkgray;
}
iframe{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.titleName{
  padding: 5px;
}
#searchInput{
  padding: none;
  width: 75%;
  height: 35px;
  border: none;
}
#title{
  height: 50px;
  padding: 7px 0px;
}
#playerDiv{
  
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
#searchIcon{
  height: 25px;
}
#searchButton{
  padding: 0px;
  height: 35px;
  background-color: rgb(255,255,255);
  border: none;
}
#commentsReplies{
  height: 300px;
  width: 100%;
  background-color: white;
  margin-top: 10px;
}
#relatedVideos{
  
}
